<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>veecee | Room</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Animate.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <!-- Participant tile styles -->
  <link rel="stylesheet" href="../../css/conversation-styles/camera.css">
  <!-- Buttons styles -->
  <link rel="stylesheet" href="../../css/conversation-styles/buttons.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!--UUID-->
  <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/a27b07fa54.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://meet.jit.si/libs/lib-jitsi-meet.min.js"></script>
  <script>
    const roomId = "<%= roomId %>";
    let hasJoinedRoom = false;
    let displayName = "<%= displayName %>";
    let startVideoMuted = true;
    let startAudioMuted = true;
  </script>
  <script src="../../script.js" ></script>
  <script src="../../conversation-control/buttons.js"></script>
  <script src="../../room-control/rearrange.js"></script>
</head>
<body>
    <!-- Chat Window -->
    <div id="scene">
      <div class="chat-window camera">
        <div class="window-title chat-window-title">
          <h4>Chat</h4>
        </div>
        <div class="messages-box"></div>
        <div class="chat-form-container">
          <form id="chat-form">
            <div class="form-group row">
              <div class="col-lg-9">
                <textarea class="form-control" id="text-message" rows="2" cols="40"></textarea>
              </div>
              <div class="col-lg-3">
                <button type="button" form="chat-form" class="btn" id="send-message"><i class="fas fa-paper-plane"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Buttons for controlling conversation -->
    <div id="buttons">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-4" role="group" aria-label="Third group">
          <button type="button" id="leaveroom-button" class="btn" value="0">Exit
        </div>
        <div class="btn-group mr-4" role="group" aria-label="Fifth group">
          <button type="button" id="participants-button" class="btn toggle-button" value="0"><i class="fas fa-user"></i></button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Seventh group">
          <button type="button" id="join-button" class="btn toggle-button" value="0">Join Call</button>
        </div>
      </div>
    </div>
    
    <!-- Participants window -->
    <div id="options">
      
    </div>
</body>
</html>
