<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>veecee | Audio/Video Options</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Animate.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="css/waitRoom.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!--UUID-->
  <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/a27b07fa54.js" crossorigin="anonymous"></script>
  <script>
    const roomId = "<%= roomId %>";
    function setFormAction() {
      document.querySelector('.join-form').action=window.location.href;
    }
  </script>
</head>
<body onload="setFormAction()">
  <div class="row">
    <div class="col lg-6">
      Your Video
    </div>

    <!-- Select audio and video options, and nickname -->
    
    <div class="col lg-6">
      <form class="row g-3 join-form" action="Set on load" method="POST">
        <div class="col-auto">
          <input type="text" name="name" class="form-control" id="input-meeting-url" placeholder="Your Display Name" style="font-family: monospace;">
        </div>
        <div class="col-auto">
          <input type="submit" class="btn mb-3 go-to-room-button" value="Go">
        </div>
      </form>
    </div>
  </div>
</body>
</html>
