<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>veecee | Audio/Video Options</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Animate.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="css/waitRoom.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!--UUID-->
  <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/a27b07fa54.js" crossorigin="anonymous"></script>
  <script>
    const roomId = "<%= roomId %>";
    let displayName = "<%= displayName %>";
  </script>
  <script src="waitRoom.js" defer></script>
</head>
<body>
  <!-- Banner -->
  <h1>veecee</h1>
  <div class="container-fluid">

    <!-- User's video -->
    <div class="user-video-holder">
      <video id="user-video"></video>
    </div>

    <!-- Select audio and video options, and nickname -->
    <div class="form-holder">
      <form class="row g-3 d-md-flex options-form" id="options-form" action="Set on load" method="POST">
        <div class="col-auto">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
            <input type="text" id="nickname" name="name" class="form-control" placeholder="Enter Nickname" aria-label="displayName" aria-describedby="basic-addon1" required maxlength="25">
          </div>
        </div>
        <div class="col-auto">
          <input type="checkbox" name="audio" id="toggle-audio" class="invisible" value="1">
          <button type="button" id="audio-button" class="btn toggle-button" value="0"><i class="fas fa-microphone"></i></button>
        </div>
        <div class="col-auto">
          <input type="checkbox" name="video" id="toggle-video" class="invisible" value="1">
          <button type="button" id="video-button" class="btn toggle-button" value="0"><i class="fas fa-video"></i></button>
        </div>
        <div class="col-auto pad-down">
          <input type="submit" class="btn btn-danger mb-3 go-to-room-button" value="Go">
        </div>
      </form>
    </div>
  </div>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-firestore.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "AIzaSyCmtpsCC7Arbn54aY0UMlEdVTGBe1XZQC0",
      authDomain: "veecee-ae647.firebaseapp.com",
      projectId: "veecee-ae647",
      //storageBucket: "veecee-ae647.appspot.com",
      //messagingSenderId: "896480242334",
      appId: "1:896480242334:web:0f3ac6b0e2d3a763e7298f",
      measurementId: "G-L95GE4BTF8"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

    // make auth and firestore references
    const auth = firebase.auth();
    const db = firebase.firestore();
  </script>
</body>
</html>
