<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
</head>
<body>
    <form action="/" method="POST" target="_blank">
        <input type="text" name="url"/>
        <input type="submit" id="join" value="Join Meet"/>
    </form>
    <input type="button" value="Create Meet" id="one" onclick="show()"/>
    <div id="teamlink"></div>
    <script>
        function show(){
            document.getElementById('two').removeAttribute('disabled');
            document.getElementById('two').style.visibility ="visible";
            var redir = window.location.href+uuidv4();
            document.getElementById('teamlink').innerHTML=redir;
            document.querySelector('#two').setAttribute('onclick',`location.href='${redir}'`);
            console.log("\"location.href='"+redir+"';\"")
        }
    </script>
    <input style="visibility:hidden;" input type="button" value="Go to meet" id="two" disabled="disabled"/>
</body>
</html>